.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 90vh;
  padding: 4rem 1rem 0rem 1rem;
}

@media (min-width: 1024px) {
  .home-container {
    flex-direction: row;
    gap: 1rem;
    padding: 4rem 1rem 0rem 3rem;
  }
}

.home-text-section {
  text-align: left;
  flex: 1;
}

.home-title {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 1rem 1rem 0;
  margin-bottom: -1rem;
}

.highlight {
  color: #facc15;
}

.home-subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.home-description {
  color: #facc15;
  margin-bottom: 2rem;
}

.home-image-section {
  margin-top: 2rem;
  flex: 1;
  display: flex;
  justify-content: center;
  mask-image: linear-gradient(black 80%, transparent);
}

@media (min-width: 1024px) {
  .home-title {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .home-image-section {
    margin-top: 0;
  }
}

.home-image {
  padding: 2rem 1rem 0rem 1rem;
  max-width: 500px;
  width: 100%;
  filter: drop-shadow(0 0 1em #61dafb35);
  z-index: 1;
}
