.project-card {
  display: flex;
  width: 45%;
  flex-direction: column;
  border-radius: 1rem;
  color: white;
  text-align: left;
  border: 3px solid #facc15;
}

.card-image {
  position: relative;
  margin: 0 1rem;
  margin-top: -1.5rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 0.75rem;
  background-clip: border-box;
  border: 1px solid #d2caad4a;
  background-color: white;
}

@media (min-width: 1024px) {
  .card-image {
    height: 17rem;
  }
}

@media (max-width: 768px) {
  .project-card {
    width: 100%;
  }
  .card-image {
    height: auto;
  }
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 2rem;
}

.card-title {
  font-size: 1.5rem;
  color: #facc15;
  margin-top: -1rem;
}

.card-technologies-title {
  margin-top: 1.5rem;
  color: #facc15;
}

.card-technologies {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  margin-top: 8px;
}

.tech-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: rgba(255, 255, 255, 0.101);
  border-radius: 1rem; padding: 1px 1rem;
}

.tech-icon {
  width: 1rem;
  height: 1rem;
}

.tech-name {
  font-size: 1rem;
}